* {   
  border: 0;
   
}

body{
  background-color: #f7d695;
  margin: auto;
  padding: 10px;
  text-align: center;
  background-size: cover; 
     
}

.header{
  padding: 10px;
  margin: 20px 20px 20px;
}



.tittle1{
  width: 40%;
}

.mainMenu{
align-items: center;

}

.homeLogo{
  padding: 20px 10px;
  margin-bottom: 0;
  max-width: 96%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

main{
  width: 95%;
  margin: auto; 
  display: flex;
  justify-content: center; 
  flex-direction: column;          
}
.autentication{
  margin: auto; 
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
        
}
.registerUser{
  margin: auto; 
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.inputText{
  margin: 10px;
  border: none;
  border-bottom: solid;
  margin-bottom: 20px; 
  background-color: beige;   
}
.btn{
  margin-top: 5px;
  background-image: url("img/margeBotton.png");
  background-color: transparent;
  border:solid 2px;
  background-repeat: no-repeat;
  width: 150px;
  height: 25px;
  border-radius: 10px;
}
.btnAdd{
  background-image: url("img/plus.png");
  background-size: inherit;
  background-color: #FFBF43;
  font-size: large;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  margin: 20px;
}
.btnAdd a{
  padding: 15px;
  color: black;
  text-decoration: none;
}
#idGoogle{
  background-color: transparent;
  border: solid 1px black;
  display: inline-block;
  border-radius: 10px;
  padding: 8px;
}

#iconG{
padding: 3px;

}

.singIn{
  margin: auto;
  padding: 10px;
  display: contents;
}
.singIn p{
  padding: 5px;
  
}
.singIn a{
  font-size: 15px;
  margin-top: 5px;
}

.openRegister{
  display: contents;

}

#Post{ 
  border: black 1px solid;
  margin: 25px;
}

#newPostUser{
  border: black 1px solid;
  display: grid;
  margin: 5px;
}

#newPostText{
  font-weight: bold;
  font-size: medium;
  color: brown;

}

#btnesPost{
 margin: 5px;
display: inline-block;
}

#divToPost{
  margin: auto;
  max-width: 70%;
  padding: 10px;
  border-radius: 5px;
}
.basePost{
  width: 100%;
  height: 100%;
  padding: 10px;
}
.actionButtons{
  margin: auto;
}

.posting{
  border: black 1px solid;
  margin: 25px;
  display: -webkit-inline-box;

}
#textPost{
size: 20px;
margin: 10px;
padding: 10px;

}

#btnPost{
margin: 10px;

}

/*@media to mobile screen */

/* Responsive para celular */
@media (max-width:600px) {

  /* Start Screen*/  

  body {
    width: 100vw; 
  }
  .tittle1{
    width: 70%;
  }  
  h1 img{
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 10px;
    max-width: 70%;
    float: center;
  }
  .autentication{
    margin: auto; 
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
    
  .openRegister{
    display: contents;
  
  }

  #idGoogle{
    background-color: transparent;
    border: solid 1px black;
    display: inline-block;
    border-radius: 10px;
    padding: 2px;
  }
  .posting{
    border: black 1px solid;
    margin: 25px;
    display: -webkit-inline-box;
  }
  .btn{
    margin-top: 5px;
    background-image: url("img/marge-botton.png");
    background-repeat: no-repeat;
    max-width: 147px;
    height: 25px;
    border-radius: 10px;
  }

  #Post{ 
    border: black 1px solid;
    margin: 2px;
    width: fit-content;
  }

  #divToPost {
    margin: auto;
    padding: 2px;
    width: fit-content;
    border: solid 2px black;
    border-radius: 5px;
    display: contents;
  }  
  #newPostUser{
    border: black 1px solid;
    display: grid;
    margin: 5px;
    width: fit-content;
  }

  #btnesPost{
    margin: 5px;
   display: flex;
   }
}

  